/*
================FOOTER==================
*/
#pre-footer {
  background: @about-background;
  width: 100%;
  color: @about-text-color;
  padding-bottom: 13px;

  .logos {
    left:0;
    height: 50px;
  }
}

.row {
  margin: 0;
  padding: 0;
}

.one-row {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.one-row a {
  color: @about-text-color;
  text-decoration: none;
}

.contact-cell {
  padding-left: 15px;
}

#rights-and-credits {
  width: 100%;
  background: @credits-background;
  color: @credits-text-color;
}

#rights-and-credits a {
  color: @credits-link-color;
}