
/app/node_modules/
/app/.env
/inspina_theme/node_modules/
.idea/
/app/dist/
/app/public/build/
/app/public/css/
/d3_playground/node_modules/
/preview_page/node_modules/
/temporary_production/.env
/temporary_production/node_modules/
/temporary_production/public/css/
/fakenewsgraph/node_modules/
/react-dev/node_modules/
/react-dev/public/build/
/react-dev/public/css/
/react-dev/dist/
/react-dev/.env
