<footer>
    <div class="row" id="pre-footer">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad" id="footer-about">
            <h1> About </h1>

            <p> We are a group of students developing an web platform for analysis and visualisation of the fake news spreading through social networks. Our fist milestone is visualising the spread of fake news stories in Twitter.
            </p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad" id="footer-contact">
            <h1> Contact us </h1>

            <p>
                Get in touch! We'd love to hear from you.
            </p>

            <div class='row'>
                <div class='one-row side-pad col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                    <table>
                        <tr>
                            <td><img class="logos" src="img/letter.png"> </td>
                            <td><div class="contact-cell"> kontakt@fakenewsgraph.de </div></td>
                        </tr>
                    </table>
                </div>

                <div class='one-row side-pad col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                    <table>
                        <tr>
                            <td><a href="https://twitter.com/FakeNewsGraph"> <img class="logos" src="img/twitter.png"></a> </td>
                            <td><div class="contact-cell"> <a href="https://twitter.com/FakeNewsGraph">FakeNewsGraph</a> </div></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>


    <div class='row' id="rights-and-credits">
        <div class="side-pad col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad">&copy; All rights reserved 2017</div>

        <div class="side-pad col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad">

            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="http://www.flaticon.com/authors/graphicsbay" title="GraphicsBay">GraphicsBay</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>


        </div>
    </div>
    <i class="fa fa-twitter" aria-hidden="true"></i>

</footer>