<footer>
    <div class="row" id="pre-footer">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad" id="footer-about">
            <h1> About </h1>

            <p> We are a group of students developing an web platform for analysis and visualisation of the fake news spreading through social networks. Our fist milestone is visualising the spread of fake news stories in Twitter.
            </p>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 side-pad" id="footer-contact">
            <h1> Contact us </h1>

            <p>
                Get in touch! We'd love to hear from you.
            </p>

            <div class='row'>
                <div class='one-row side-pad col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                    <table>
                        <tr>
                            <td><i class="fa fa-envelope-o" aria-hidden="true"></i> </td>
                            <td><div class="contact-cell"> kontakt@fakenewsgraph.de </div></td>
                        </tr>
                    </table>
                </div>

                <div class='one-row side-pad col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                    <table>
                        <tr>
                            <td><a href="https://twitter.com/FakeNewsGraph"> <i class="fa fa-twitter" aria-hidden="true"></i> </a> </td>
                            <td><div class="contact-cell"> <a href="https://twitter.com/FakeNewsGraph">FakeNewsGraph</a> </div></td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>


    <div id="rights-and-credits">
        &copy; All rights reserved 2017
    </div>


</footer>