<!--The progress bar with the instructions-->
<div id="progress-bar">
    <div class="row" id="progress-steps">

        <div class="side-pad col-lg-4 col-md-4 col-sm-4 col-xs-6 progress-step" id="step-1">
            <table>
                <tr>
                    <td><div class="enumeration"> 1 </div></td>
                    <td>Search</td>
                </tr>
            </table>
        </div>

        <div class="side-pad col-lg-4 col-md-4 col-sm-4 col-xs- progress-step" id="step-2">
            <table>
                <tr>
                    <td><div class="enumeration"> 2 </div></td>
                    <td>Select</td>
                </tr>
            </table>
        </div>

        <div class="side-pad col-lg-4 col-md-4 col-sm-4 col-xs-12 progress-step" id="step-3">
            <table>
                <tr>
                    <td><div class="enumeration"> 3 </div></td>
                    <td>Visualize</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="side-pad" id="progress-tips">
    </div>
</div>