<!DOCTYPE html>
<html>
<head>
    <!--app has dynamic content-->
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="deutsch, de">
    <meta name="description" content="">
    <meta name="page-topic" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Rock Blog"/>
    <link rel="canonical" href="">
    <base href="/">
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">



</head>
<body>
    <div id="app">{{{initRender}}}</div>

<script type="application/javascript">
    window.__INITIAL_STATE__ = {{{initState}}};
</script>

</body>
</html>