<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="deutsch, de">
    <meta name="description" content="">
    <meta name="page-topic" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Fake News Graph"/>
    <link rel="canonical" href="">
    <base href="/">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Fake News Graph</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>

<body>
<div class="container">
    <div class="logo">
        <img class="img-responsive" src="img/fake-news-graph-logo.png">
    </div>

    <section class="news-signup">
        <div class="jumbotron">
            <h3>Dieser Webservice ist in Entwicklung</h3>
            <p>Trage dich in unsere E-Mail-Liste ein. Du wirst benarichtigt, sobald er online geht.</p>
            <div class="form-container">
                <form class="form-inline"
                      action="//fakenewsgraph.us16.list-manage.com/subscribe/post?u=9a40f46bb3ee7bef7a7db2f57&amp;id=a923f73e93"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-Mail" name="EMAIL" required>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Subscribe" name="subscribe"><span
                            class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </form>
            </div>
            <p>Folge uns auch auf Twitter!</p>
            <a href="https://twitter.com/FakeNewsGraph" target="_blank"><i
                    class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>

    </section>

    <hr>

    <section class="info">
        <header class="heading">
            <h2>Über das Projekt</h2>
            <hr>
        </header>
        <blockquote>
            <p>“Pope Francis shocks world, endorses Donald Trump for president”</p>
            <footer>960.000 Engagements</footer>

        </blockquote>
        <blockquote class="blockquote-reverse">
            <p>"ISIS leader calls for American Muslim voters to support Hillary Clinton"</p>
            <footer>840.000 Engagements</footer>
        </blockquote>
        <blockquote>
            <p>“Hillary Clinton and her State department were actively arming Islamic jihadists, which includes
                ISIS”</p>
            <footer>760.000 Engagements</footer>
        </blockquote>
        <header class="heading heading-h3">
            <h3>Ziel</h3>
            <hr>
        </header>
        <p>Wir entwickeln ein <strong>Analysetool</strong>, das ermöglicht, die <strong>Netzwerke</strong> zu erkunden,
            die hinter der
            <strong>Verbreitung von Fake News</strong> stehen.</p>

        <ul>
            <li>Wer sind die wichtigsten Akteure?</li>
            <li>Wie verbreitet sich eine Fake News?</li>
            <li>Wer trägt am meisten zu der Verbreitung bei?</li>
            <li>Wer hat den größten Einfluss?</li>
        </ul>
        <p>Wir haben uns bewusst für eine Open-Source-Entwicklung entschieden. Jeder soll die Möglichkeit haben, es
            kostenlos zu nutzen und für eigene Zwecke anzupassen.</p>
        <header class="heading heading-h3">
            <h3>Features</h3>
            <hr>
        </header>
        <ul>
            <li>
                Schnelle Visualisierung der Verbreitung eines Links / Hashtags auf Twitter
            </li>
            <li>
                Einfacher Export der Daten für weitere eigenständige Analysen
            </li>
            <li>
                Mächtige cloudbasierte Architektur im Hintergrund
            </li>
            <li>
                Open Source - pass es an deine Bedürfnisse an! Sammele Daten auf deinem eigenen Server!
            </li>
        </ul>

        <header class="heading">
            <h3>Das Team</h3>
            <hr>
        </header>
        <p class="text-center">Wir sind Studenten der Technischen Universität und der Freien Universität Berlin.</p>
        <address class="text-center">
            <strong>Kontakt</strong><br>
            <a href="mailto:kontakt@fakenewsgraph.de">kontakt@fakenewsgraph.de</a>
        </address>
        <img class="img-responsive" src="img/team.png">
    </section>
</div>


<footer class="page-footer">
    <p>&copy; 2017 fakenewsgraph.de</p>
</footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/home.js"></script>
<i class="fa fa-twitter" aria-hidden="true"></i>


</body>


</html>