
<div class="container">
    <h1>Results</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Typ</th>
            <th>Fake?</th>
        </tr>
        </thead>
        <tbody id="tablebody">

        </tr>
        </tbody>
    </table>

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/results.js"></script>