<!--The progress bar with the instructions-->
<div class="side-pad" id="progress-bar">
    <div> Something</div>

</div>

<!--The word cloud svg-->
<svg id='foo'></svg>

<!--Word cloud imports-->
<script src="js/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3.layout.cloud.js"></script>

<!--Get json file containing the words of the cloud-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/wordcloud.js"></script>
