
{{>progress-bar}}

<!--The word cloud svg-->
<div id="wordcloud-container">
    <svg id='wordcloud'></svg>
</div>

<!--Word cloud imports-->
<script src="js/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3.layout.cloud.js"></script>

<!--Get json file containing the words of the cloud-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/wordcloud.js"></script>

<!--Set the values of the progress bar-->
<script>
    $(document).ready(function () {
        $('#step-1').addClass("current-step");
        $('#progress-tips').text("Type in search terms in the serach bar above or pick one from the " +
                "word cloud below");
    });
</script>
