<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="deutsch, de">
    <meta name="description" content="">
    <meta name="page-topic" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Fake News Graph"/>
    <link rel="canonical" href="">
    <base href="/">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Fake News Graph</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>

</head>

<body>

<style>
    @import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
    svg, html, body {
        padding: 0;
        margin: 0;
        font-family: 'Oswald', sans-serif;
        font-size: 110%;
        width: 100%;
        background: green;
        height: 100%;
    }

    svg {
        background: white;

        width: 100%;
        height: 100%;
    }

    #filler {
        height: 400px;
        width: 100%;
        background: blue;
    }

</style>
    <div id="filler">

    </div>

    <svg id='foo'></svg>


    <!--
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="js/results.js"></script>
    -->


    </body>

<!--Word cloud imports-->
<script src="js/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3.layout.cloud.js"></script>

<!--Get json file containing the words of the cloud-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/wordcloud.js"></script>


</html>