<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="deutsch, de">
    <meta name="description" content="">
    <meta name="page-topic" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="Fake News Graph"/>
    <link rel="canonical" href="">
    <base href="/">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Fake News Graph</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>

<body>
<div class="container">
    <div class="logo">
        <img class="img-responsive" src="img/fake-news-graph-logo.png">
    </div>

    <section class="news-signup">
        <div class="jumbotron">
            <h3>Dieser Webservice ist in Entwicklung</h3>
            <p>Trage dich in unsere E-Mail-Liste ein. Du wirst benarichtigt, sobald er online geht.</p>
            <div class="form-container">
                <form class="form-inline"
                      action="//fakenewsgraph.us16.list-manage.com/subscribe/post?u=9a40f46bb3ee7bef7a7db2f57&amp;id=a923f73e93"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-Mail" name="EMAIL" required>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Subscribe" name="subscribe"><span
                            class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </form>
            </div>
            <p>Folge uns auch auf Twitter!</p>
            <a href="https://twitter.com/FakeNewsGraph" target="_blank"><i
                    class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>

    </section>

    <hr>

    <section class="info">
        <header class="heading">
            <h2>Über das Projekt</h2>
            <hr>
        </header>
        <header class="heading heading-h3">
            <h3>Ziel</h3>
            <hr>
        </header>
        <p>Wir entwickeln ein Analysetool, das ermöglicht, die Netzwerke zu erkunden, die hinter der
            Verbreitung von Fake News stehen. Wer sind die wichtigsten Akteure? Wie verbreitet sich eine Fake News? Wer
            trägt am meisten zu der Verbreitung bei? Wer hat den größten Einfluss?
            Wir haben uns bewusst für eine Open-Source-Entwicklung entschieden. Jeder soll die Möglichkeit haben, es
            kostenlos zu nutzen und für eigene Zwecke anzupassen.</p>
        <header class="heading heading-h3">
            <h3>Vorteile</h3>
            <hr>
        </header>
        <ul>
            <li>
                Schnelle Visualisierung der Verbreitung eines Links / Hashtags auf Twitter
            </li>
            <li>
                Einfacher Export der Daten für weitere eigenständige Analysen
            </li>
            <li>
                Mächtige cloudbasierte Architektur im Hintergrund
            </li>
            <li>
                Open Source - pass es an deine Bedürfnisse an! Sammele Daten auf deinem eigenen Server!
            </li>
        </ul>
        <!--
        <heading class="heading heading-h3">
            <h3>Wer beeinflusst wen?</h3>
            <h3 class="h3-sub">Beeinflussungswege</h3>
            <hr>
        </heading>

        <p>Wenn man die Diffusion einer Fake News darstellen will, muss man rausfinden, wer von wem beeinflusst wurde,
            diese dann weiterzuleiten. Der Nutzer sieht die Tweets und Retweets der Accounts, denen er folgt. Wenn nun
            mehrere die gleiche Nachricht weitergeleitet haben, wie kann man dann festlegen, wer den Nutzer dazu
            gebracht hat, sie ebenfalls weiterzuleiten?</p>
        <p>Dafür gibt es verschiedene Modelle (Quelle: “Online Analysis of Information Diffusion in Twitter” by Io Taxidou, Peter M. Fischer)</p>
        <h4>Least recent influencer - ältester Beeinflusser</h4>
        <p>Es wird angenommen, dass der <strong>erste</strong> Retweeter der Fake News, dem der Nutzer folgt, für dessen
            Retweet
            verantwortlich ist.</p>
        <h4>Most recent influencer - jüngster Beeinflusser</h4>
        <p>Es wird angenommen, dass der <strong>jüngste</strong> Retweeter der Fake News, dem der Nutzer folgt, für
            dessen Retweet
            verantwortlich ist.</p>
        <h4>Most followered influencer - Beeinflusser mit den meisten Followern</h4>
        <p>Es wird angenommen, dass der Nutzer durch den Beeinflusser mit den meisten Followern zum Retweeten verleitet
            wurde.</p>
            -->
        <header class="heading">
            <h3>Das Team</h3>
            <hr>
        </header>
        <p>Wir sind Studenten der Technischen Universität und der Freien Universität Berlin.</p>
        <img class="img-responsive" src="img/team.png">
    </section>
</div>


<footer>
    <p>&copy; 2017 fakenewsgraph.de</p>
</footer>

</body>

<script type="text/javascript" src="js/script.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


</html>