<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Insights</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Insights</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Percentage distribution</h5>
          <h2>42/20</h2>
          <div class="text-center">
            <div id="sparkline5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Percentage division</h5>
          <h2>100/54</h2>
          <div class="text-center">
            <div id="sparkline6"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Percentage distribution</h5>
          <h2>685/211</h2>
          <div class="text-center">
            <div id="sparkline7"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Percentage division</h5>
          <h2>240/32</h2>
          <div class="text-center">
            <div id="sparkline8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Insights Excerpt</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Identifier</th>
              <th>Conversion Propensity</th>
              <th>Click Propensity</th>
              <th>Cluster Membership</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.2</td>
              <td>0.04</td>
              <td>A,B</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>U</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.6</td>
              <td>0.01</td>
              <td>A,B</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>C</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>G,L,O</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>B</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>M</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.002</td>
              <td>0.001</td>
              <td>U,K,M</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.32</td>
              <td>0.71</td>
              <td>A,B</td>
            </tr>
            <tr>
              <td>1d33d2-kD3L12-AB982j-UZk976-k1j28k </td>
              <td>0.023</td>
              <td>0.08</td>
              <td>A</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
