@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
}
div {
    padding: 0;
    margin: 0;
}
html, body {
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
}

/*
=============NAVIGATION BAR================
*/
.navbar {
    background: #22384f;
}

.logo {
    height: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 4px;
}

.logos {
    left:0;
    height: 50px;
}



/*
================SECTION 1==================
*/
@media (min-width: 768px) {
    .row.equal-length-fix {
        display: flex;
        flex-wrap: wrap;
    }
}

ul {
    list-style-position: inside;
}

.infopar {
    padding-top: 30px;
}

.info {
    color: #22384f;
    border-style: solid;
    border-color: #22384f;
    border-width: 5px;
    height: 100%;
}

.row {
    margin: 0;
}

#push {
    height:126px;
}

#section01 {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#section01 a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 60px;
    color: #22384f;
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 5px solid #22384f;
    box-sizing: border-box;
}
#section01 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #22384f;
    border-bottom: 2px solid #22384f;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}



/*
===============BUTTON=================
*/
.btn-container {
    position: absolute;
    min-width: 46px;
    width:150px;
    bottom: 0;
    right: 0;
    z-index: 3;
    color: #fff;
    font : normal 400 20px/1 'Oswald', sans-serif;
}
.side-margin {
    margin: 23px;
}

.btn-container a {
    transition: opacity .3s;
    text-align: center;
    text-decoration: none;
}

.btn-container a:hover {
    opacity: .5;
}



/*
================SECTION 2 (EXAMPLE)==================
*/
#section02 {
    height: 100%;
}

#btn-top {
    position: absolute;
    padding-top: 60px;
    color: #bbb;
    left: 0;
    bottom: 0;
}

#btn-top span {
    position: absolute;
    left: 50%;
    top: 0;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 5px solid #bbb;
    box-sizing: border-box;
}

#btn-top span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -4px 0 0 -8px;
    border-left: 2px solid #bbb;
    border-top: 2px solid #bbb;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-sizing: border-box;
}

#btn-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 60px;
    color: #bbb;
}
#btn-footer span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 5px solid #bbb;
    box-sizing: border-box;
}
#btn-footer span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*
====================D3====================
*/
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}


section svg {
    position: absolute;
    background: #22384f;
    z-index:1;
    width: 100%;
    height: 100%;
}

/*
================CREDITS==================
*/
#pre-footer {
    background: #111;
    width: 100%;
    color: #555;
    padding-bottom: 13px;
}

.side-pad {
    padding: 23px;
}

.one-row {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.one-row a {
    color: #555;
    text-decoration: none;
}

.contact-cell {
    padding-left: 15px;
}

#rights-and-credits {
    width: 100%;
    background: black;
    color: #444;
    overflow: auto;
}

#rights-and-credits a {
    color: #22384F;
}